.paymentForm-container .back-btn {
    display: flex;
    align-items: center;
    color: #015C92;
    font-weight: 800;
    cursor: pointer;
}

.paymentForm-container .back-btn span {
    margin-left: .5rem;
}

.paymentForm-container img {
    margin: .5rem 0;
}

.paymentForm-container .input-container {
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
}

.paymentForm-container .input-container input,select {
    padding: .5rem;
}

.paymentForm-container .input-container input:focus,select:focus {
    outline: none;
}

.input-container .cardNumber-container {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 2px;
}

.input-container .cardNumber-container input {
    border: none;
    width: 100%;
}

.input-container .cardNumber-container .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: .5rem;
    color: gray;
    font-size: 1.5rem;
}

.cardCode-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cardCode-container .cardCode-text {
    display: flex;
    align-items: center;
}

.cardCode-container .cardCode-text .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: gray;
    margin: 0 .3rem;
}

.cardCode-container .cardCode-text p {
    margin: 0;
    font-size: 12px;
}

.address-container .address-line2 {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #015C92;
    margin: 1rem 0;
    cursor: pointer;
}

.saveCheckbox-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 0 0 0;
}

.saveCheckbox-container p {
    margin: 0 0 0 .5rem;
    font-size: 12px;
}

.saveCheckbox-container input {
    cursor: pointer;
}

form p {
    font-size: 10px;
}

form .submit {
    width: 100%;
    padding: .5rem 1rem;
    font-size: 16px;
    font-weight: 600;
    margin: .5rem 0;
    color: #fff;
    background: #015C92;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form .cancel {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #015C92;
    margin: 1rem 0;   
}

form .cancel span {
    cursor: pointer;
}
