.ticket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem 0;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.ticket h3 {
    margin: 0 0 0 .5rem;
    color: rgb(231, 152, 5);
}

.ticket h4 {
    margin: 0 .5rem 0 0;
}

.modal-container,.modal-cover {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

.modal-cover {
    background: rgba(0, 0, 0, 0.8);
}

.modal-container .modal {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    width: 85%;
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 900;
}

.modal .content {
    position: relative;
    padding: 2rem;
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(192, 14, 14);
    color: #fff;
    border: none;
}

.counter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.counter-container .minus,.plus {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    border-radius: 50%;
    background: gray;
    font-size: 30px;
    color: #fff;
}

.counter-container .plus {
    background: #015C92;
}

.counter-container h3 {
    margin: 0;
    color: rgb(231, 152, 5);
}

.content .head {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.content .subtotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .subtotal h6,h5 {
    margin: 0;
}

.content .subtotal h6 {
    color: gray;
}

.content span {
    font-size: 15px;
    color: gray;
}

.content p {
    font-size: 18px;
}

.content .send {
    width: 100%;
    font-size: 20px;
    padding: .5rem 2rem;
    border: none;
    background: green;
    color: #fff;
}

@media only screen and (min-width: 600px) {
    .modal-container .modal {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .modal-container .modal {
        width: 40%;
    }
}

@media only screen and (min-width: 992px) {
    .modal-container .modal {
        width: 30%;
    }
}